#bottom-menu {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#range-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
#dropdown-container {
  display: flex;
  flex-direction: row;
}
.form-group-axis,
.form-group-fontsize {
  margin-right: 10px;
  flex-grow: 1;
}
.form-group-dropdown {
  margin-left: 10px;
}
label {
  font-size: 12px;
  font-weight: bold;
}
input[type='range']::-webkit-slider-thumb {
  background-color: rgb(43, 43, 43);
  outline:none;
}
input[type='range']::-moz-range-thumb {
  background-color: rgb(43, 43, 43);
  outline:none;
}
input[type='range']::-ms-thumb {
  background-color: rgb(43, 43, 43);
  outline:none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
#bottom-menu {
  flex-direction: row;
}
#font-list,
#font-instances {
  min-width: 200px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
